<app-top-bar></app-top-bar>
<app-toolbar></app-toolbar>
<h2>BUY PRODUCTS</h2>
  <img src="https://m.media-amazon.com/images/I/61MmE28+z7L._SX522_.jpg" height="300px">
  <img src="https://b.zmtcdn.com/data/pictures/chains/8/19391818/58bab74326008c61f9e1d3a3c6448ca7.jpg" height="300px">
  <img
  src="https://cdn01.pharmeasy.in/dam/products_otc/091750/horlicks-health-nutrition-drink-chocolate-jar-200-g-2-1641398929.jpg"height="300px">
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="c">
  </div>
  <p>Lets explore this app</p>
<div class="card-container">
  <a class="card" routerLink="">
    <span>Home</span>
  </a>
  <a class="card" routerLink="product">
    <span>product</span>
  </a>
  <a class="card" routerLink="product">
    <span>offer</span>
  </a>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
<app-product></app-product>
<router-outlet></router-outlet>
  
  




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->